{% extends 'layout.html' %}

{% block titulo %}Iniciar Sesión{% endblock %}

{% block contenido %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">cineo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Regístrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin"><i class="fa-regular fa-user"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form action="/signin" method="post">
            {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
                {% for m in mensajes %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error:</strong> {{ m }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            
            <!-- Input para el correo -->
            <input type="email" name="correo" class="form-control" placeholder="Correo Electrónico" required>
            <br>

            <!-- Input para la contraseña -->
            <input type="password" name="clave" class="form-control" placeholder="Contraseña" required>
            <br>

            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>

        <!-- Enlace para recuperar la contraseña -->
        <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
</div>
{% endblock %}


