{% extends 'layout.html' %}

{% block titulo %}La magia del cine a tu alcance{% endblock %}

{% block contenido %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <!-- Logo o nombre de la marca -->
    <a class="navbar-brand" href="/admin">Cineo</a>
    <!-- Botón para dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Enlaces de la barra de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Inicio</a>
        </li><li class="nav-item">
            <a class="nav-link" href="#">Películas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Novedades</a>
    </li>
</nav>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Clave</th>
                <th scope="col">Fecha Reg</th>
                <th scope="col">Perfil</th>
                <th scope="col" colspan="2"><i class="fa-solid fa-user-plus" style="color: #ff0000;"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <th scope="row">{{ u.0 }}</th>
                <td>{{ u.1 }}</td>
                <td>{{ u.2 }}</td>
                <td>{{ u.4 }}</td>
                <td>{{ u.5 }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar{{ u.0 }}">
                        <i class="fa-solid fa-user-pen" style="color: #ff0000;"></i>
                    </button>
                </td>
                <td>
                    <!-- Button trigger modal eliminar -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar{{ u.0 }}">
                        <i class="fa-solid fa-user-minus" style="color: #ff0000;"></i>
                    </button>
                </td>
            </tr>

            <!-- Modal Editar -->
            <div class="modal fade" id="editar{{ u.0 }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="/uUsuario/{{ u.0 }}">
                            <div class="modal-body">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" name="nombre" value="{{ u.1 }}" required>
                                <br>
                                <label for="email">Correo</label>
                                <input type="email" id="email" name="correo" value="{{ u.2 }}" required>
                                <br>
                                <select name="perfil" class="form-select form-select-lg mb-3" aria-label="Large select example">
                                    <option value="{{ u.perfil }}" selected>{{ u.perfil }}</option>
                                    <option value="A">Administrador</option>
                                    <option value="U">Usuario</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal Eliminar -->
            <div class="modal fade" id="eliminar{{ u.0 }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/dUsuario/{{ u.0 }}" method="post">
                            <div class="modal-body">
                                <p><i class="fa-solid fa-exclamation fa-2xl" style="color: #ff0000;"></i> ¿Seguro que quieres eliminar a este usuario?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

